template(name='link')
  .container.workspace
    .row
      .span12
        a(href='files/{{path}}/{{filename}}') {{filename}}
        hr
        | [{{filename}}]: {{url}}files/{{path}}/{{filename}}


template(name='printView')
  {{rend}}
  .container.workspace
    .row
      .span12
        {{{content}}}

template(name='fileView')
  {{> navbar}}
  {{rend}}
  .container.workspace
    .row
      .span12
        {{{content}}}
  {{> footer}}
template(name='file')
  hr
  .form-horizontal
    .control-group
      input#fileUploader(type='file',name="file")
      button.btn.Upload.pull-right Загрузить
  {{#if err}}
  .err
    span.label.label-warning {{err}}
   {{/if}}
  hr
template(name='files')
  .container.workspace
    .row
      .span12
        .control-group
          a.fast.btn.pre(href='#')
            i.icon-plus-sign
            | Файл
          .form-search.pull-right
            .input-append
              input#filter.span2.search-query(type="text",value='{{tags}}')
              button#filter.btn Тег Фильтр
        {{#if fast}}
        {{> file}}
        {{/if}}
        ul.unstyled {{#each Files}}
          li.control-group
            a.btn.edit(href='files/{{path}}/{{filename}}')
              i.icon-edit
            | &nbsp;
            a(href='view/{{filename}}') {{filename}}
            | &nbsp; {{tags}}
            button.btn.rm.pull-right
              i.icon-remove
          {{else}}
          li No files uploaded.
          {{/each}}

