template(name='image')
  {{> navbar}}
  .container.workspace
    .row
      .span12
        .form-horizontal
          input.fileUploader(type='file',name="files",multiple)
  {{> footer}}

template(name='images')
  {{> navbar}}
  .container.workspace
    .row
      .span12
        ul
          {{#each Files}}
          li {{view this}}
          {{else}}
          li No files uploaded.
          {{/each}}
  {{> footer}}
