<head>
  <title>@Файло</title>
</head>

<body>
  {{> body}}
</body>

<template name="body">
  {{renderPage layoutName}}
</template>

<template name='main'>
    {{> navbar}}

    {{> footer}}
    </div>
</template>

<template name='user'>
   {{> navbar}}
   {{> files}}
   {{> footer}}
</template>

<template name="404">
<p>404</p>
</template>
<template name="footer">
  <footer class="container">
    <hr class="featurette-divider"/>
    <p class="pull-right">
      <a href=""> Вверх</a>
    </p>
    <p>© 2013 @Файло
      <a href="#"> Terms</a>.
      <a href="#"> Information</a>
    </p>
  </footer>
</template>